
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>University Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">University Management System</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Main/Main">Home</a></li>
                <li><a href="/Department/SaveDepartment">Save Department</a></li>
                <li><a href="/Department/ShowAllDepartment">Show All Department</a></li>
                <li><a href="/Course/SaveCourse">Save Course</a></li>
                <li><a href="/Teacher/SaveTeacher/">Save Teacher</a></li>
                <li><a href="/CourseAssign/CourseAssign/">Course Assign To Teacher</a></li>
                <li><a href="/CourseAssign/ViewCourseStatics/">View Course Statics</a></li>
                <li><a href="/Student/RegisterStudent/">Register Student</a>"</li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>University Management System</h1>
            <p>System Development Technology: ASP.Net || MVC 5.0 ||HTML|| CSS || Jquery || JAVAScript</p>
            <p>||| Developed by |||</p>
                <p>Mohammad Maruf Islam</p>
                <p>Fahmida Noor</p>
                <p>Md. Ehsanul Hassan</p>
                <p>S.M. Asif</p>
        </div>
    </div>
    <br />
    <br />
</body>
</html>
